.container {
  width: 1170px; // à definir plus tard

  .ils_nous_font_confiance {
    display: flex;
    justify-content: center;
    h2{
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      color:var(--orange);
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr) ;
      gap: 10px;
      justify-content: center;
      margin: 0 100px;
      .box_client{
        padding: 20px;
        display: flex;
        justify-content: center;
        border: dimgray solid 1px;
        // a choisir entre le border et le shadow
        /* box-shadow:2px 2px dimgray; */
      }

      //pour center les 2 dernier clients
      //.client-2 {
      //  grid-column-start: 2;
      //}
    }
  }
}