@import "assets/styles/variables";

/**
Ce fichier est utilisé par /templates/home/home_title.html.twig
**/

.homeTitle {
  background-image:
          linear-gradient(
                          to right,
                          rgba(0, 0, 0, 0.6),
                          rgba(0, 0, 0,0.8)),
          url("../../../../assets/images/bg-homeTitleSection.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  //100vh = 100% de l'écran
  height: 100vh;
  z-index: -1;
  position: fixed;

  h1 {
    font-family: YanoneKaffeesatz, sans-serif;
    text-transform: uppercase;
    color: var(--orange);
    text-align: center;
    font-size: 4rem;
    padding-bottom: 20vh;
  }
}