@import "assets/styles/colors";



.homeNumberKey {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0,0.8)),
  url("../../../../assets/images/bg-contact.jpg");
  width: 100%;
  min-height: 50rem;

  .homeNumberKey-container {
    margin-left: 100px;
    padding: 200px;

    h2{
      text-transform: uppercase;
      color: var(--orange);
      text-align: center;
      font-size: 3rem;
      padding: 2rem 0;
    }
  }

  &-grid {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
  }

  &-card {
    width: 30rem;
    height: 35rem;
    background: var(--noir);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-number {
    color: white;
  }

  &-solution {

    p {
      color: white;
    }
  }
  &-bold {
    font-weight: bold;
  }
}