//@import "assets/styles/variables";
@use '../../media-queries' as m;

/**
Ce fichier est utilisé par /templates/home/presentation.html.twig
**/

.presentation-transparent{
  //100vh = 100% de l'écran
  min-height: 92vh;
  flex-direction: column-reverse;
  align-items: center;
}

.presentation-tab{
  max-height: 64px;
}

.presentation {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0,0.8)),
  url("../../../../assets/images/bg-presentation.jpg");
  width: 100%;
  min-height: 50rem;
  display: flex;
  justify-content: center;
  padding-top: 2rem;

  //.container {

    h2{
      color: white;
      text-align: center;
      font-size: 2rem;
      padding: 2rem;
    }
    h3 {
      color: white;
    }
    p {
      color: white;
    }
  //}
  &-grid {
    display: grid;
    padding: 4rem 0;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    grid-auto-flow: column;
    @include m.mq(small){
      grid-auto-flow: row;
    }
  }

  &-card {
    align-items: center;
    min-width: 12rem;
    //height: 8rem;
    padding: 1rem;
    background: var(--noir);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid dimgrey;
  }

  &-number {
    color: white;
    font-size: 3rem;
  }

  &-solution {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  &-bold {
    font-weight: bold;
  }
}