<header>
    <section class="container">
        <!-- Nav bar -->
        <div class="nav-bar">
            <ul>
                <li>
                    <h1>
                        <img
                                class="logo_slp"
                                src="#"
                                alt="SLP signalétique logistique performance "
                                width="100px"
                        />
                    </h1>
                </li>
                <li><a>ACCUEIL</a></li>
                <li><a>NOS METIERS</a></li>
                <li><a>SLP EASY GESTION</a></li>
                <li><a>DEMANDE DE DEVIS</a></li>
                <li><a>CONTACT</a></li>
            </ul>
        </div>
        <!-- slider -->
        <div class="box_slide_home">
            <img
                    class="slide_home"
                    src="#"
                    alt="entrepot_slp"
                    width="100%"
            />
        </div>
    </section>
</header>