<header>
    <section>
        <!-- Nav bar -->
        <div class="nav-bar">
            <div class="container">
                <ul>
                    <li>
                        <h1>
                            <img
                                    class="logo_slp"
                                    src="{{ asset('build/images/logo-slp.png') }}"
                                    alt="SLP signalétique logistique performance"
                                    width="100px"
                            />
                        </h1>
                    </li>
                    <li><a>ACCUEIL</a></li>
                    <li><a>NOS METIERS</a></li>
                    <li><a>SLP EASY GESTION</a></li>
                    <li><a>DEMANDE DE DEVIS</a></li>
                    <li><a>CONTACT</a></li>
                </ul>
            </div>
        </div>

        <!-- slider -->
        <div class="img_header">
                <img
                        class="img_header"
                        src="{{ asset('build/images/img-header.jpg') }}"
                        alt="entrepot_slp"
                        width="100%"
                />
        </div>
    </section>
</header>