<header>
    <div class="container">
        <!-- Nav bar -->
        <nav class="nav-bar">
            <h1>
                <img
                        class="logo_slp"
                        src="{{ asset('build/images/logo-slp.png') }}"
                        alt="SLP signalétique logistique performance"
                        width="100px"
                />
            </h1>
            <ul>
                <li><a>ACCUEIL</a></li>
                <li><a>NOS METIERS</a></li>
                <li><a>SLP EASY GESTION</a></li>
                <li><a>DEMANDE DE DEVIS</a></li>
                <li><a>CONTACT</a></li>
            </ul>
        </nav>
    </div>
</header>