<h2 class="size-3 center uppercase pt-2 pb-2"> {{ metiers[4].title }}</h2>
{#{% for blocl in blocsl %}#}
{#    <div class="metier flex column justify-c align-c m-5">#}
{#        <div class="container">#}
{#            <div class="flex">#}
{#                <div class="metier-box p-2 mb-2">#}
{#                    <p>{{ bloc.content}}</p>#}
{#                </div>#}
{#                <img src="{{ bloc.image}}" alt="{{ image.description }}">#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endfor %}#}