{% extends 'base.html.twig' %}

{% block title %}Nos Métiers{% endblock %}

{% block body %}

    {% include "metiers/navMetiers.html.twig" %}

    <div class="container flex justify-c">
        <div class="metiers flex column justify-c align-c">

            {% for metier in metiers %}
                <h2 style=""> {{ metier.name }} </h2>
                <div class="metier_bloc flex row justify-se">
                    <p> {{ metier.content }}</p>
                    <img src="{{ vich_uploader_asset(metier) }}" alt="" width="100%">
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}
