{% extends 'base.html.twig' %}

{% block title %}Nos Métiers{% endblock %}

{% block body %}
    <div class="metiers flex column justify-c align-c">
        <h1 class="size-3 center uppercase pt-2 pb-2"> {{ metiers[0].title }}</h1>

        <section class="logistique" id="logistique">
            {% include 'metiers/logistique.html.twig' %}
        </section>
        <section class="signaletique">
            {% include 'metiers/signaletique.html.twig' %}
        </section>
        <section class="colisage">
            {% include 'metiers/colisage.html.twig' %}
        </section>
        <section class="ecommerce">
            {% include 'metiers/ecommerce.html.twig' %}
        </section>
        <section class="approvisionnement">
            {% include 'metiers/approvisionnement.html.twig' %}
        </section>
        <section class="transport">
            {% include 'metiers/transport.html.twig' %}
        </section>

        <a href="{{ metiers[0].link }}">un truc</a>
    </div>
{% endblock %}
