<div class="container">
    <div class="ils_nous_font_confiance">
        <h2 class="size-3 center">Ils Nous Font Confiance </h2>
        <div class="grid">
            {% for client in clients %}
                <div class="box_client p-1 flex justify-c align-c">
                    <a href="{{ client.website }}">
                        <img class="logo_client" src="{{ vich_uploader_asset(client) }}"
                             alt="{{ client.name }}" width="100px">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>