<div class="container">
    <h2 class="contact-title center uppercase size-3 pb-2">nous contacter</h2>
    <div class="contact-box flex justify-c align-c">
        <div class="contact-box_item">
            {% include 'home/_contactForm.html.twig' %}
        </div>
        <div class="contact-box_item flex column justify-sb align-c">
            <img
                    class="contact-box_item-img"
                    src="{{ asset('build/images/SLP-adress.PNG') }}"
                    alt="photo de google map à l'adresse de l'entreprise SLP">
            <div class="contact-box_item-description">
                <h3 class="uppercase pb-1">slp signalétique logistique performance</h3>
                <p>Bureau Principal</p>
                <p>Rue Joseph Cugnot, 42160 Andrézieux-Bouthéon, France</p>
            </div>
        </div>
    </div>
</div>

