{#<!--la classes homeTitle est contenu dans le fichier:
  /assets/styles/components/home/_home_title.scss-->#}

<section class="homeTitle">
{#    <!--la classes container est dans le fichier:
      /assets/styles/_variables.scss-->#}
    <div class="container">
        <h1>SLP SOLUTION SUR MESURE...</h1>
    </div>
</section>