{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="homeTitle">
        {% include 'home/home_title.html.twig' %}
    </section>
    {% include 'home/presentation.html.twig' %}
    <section class="client">
        {% include 'home/clients.html.twig' %}
    </section>
    <section>
        {% include 'home/contact.html.twig' %}
    </section>
{% endblock %}