{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% include 'home/home_title.html.twig' %}
    {% include 'home/key_number.html.twig' %}
    {% include 'home/clients.html.twig' %}
    <section>
        {% include 'home/contact.html.twig' %}
    </section>
{% endblock %}