{#
<!--Toutes les classes presentation sont contenus dans le fichier:
/assets/styles/components/home/_presentation.scss-->
<!-- Les classes flex row et column sont dans
/assets/styles/_variables.scss-->
#}

<div class="presentation-transparent flex">
    {#
    <!--Pour le scrollDown :
    Zone de transparence laissant apparaitre le contenu de,
    /templates/home/home_title.html.twig-->
    #}
    <div class="presentation-tab">

        {#
        <!--le svg ci-dessous dessine l'onglet du Scroll Down-->
        #}
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <!-- Created with Inkscape (http://www.inkscape.org/) -->

        <svg
                width="128"
                height="64"
                viewBox="0 0 33.866666 16.933333"
                version="1.1"
                id="svg5"
                inkscape:version="1.1 (c68e22c387, 2021-05-23)"
                sodipodi:docname="onglet2_128x64px.svg"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg">
            <sodipodi:namedview
                    id="namedview7"
                    pagecolor="#ffffff"
                    bordercolor="#666666"
                    borderopacity="1.0"
                    inkscape:pageshadow="2"
                    inkscape:pageopacity="0.0"
                    inkscape:pagecheckerboard="true"
                    inkscape:document-units="mm"
                    showgrid="false"
                    width="128mm"
                    units="px"
                    inkscape:zoom="3.7772166"
                    inkscape:cx="32.696033"
                    inkscape:cy="29.519091"
                    inkscape:window-width="1920"
                    inkscape:window-height="1027"
                    inkscape:window-x="1358"
                    inkscape:window-y="22"
                    inkscape:window-maximized="1"
                    inkscape:current-layer="layer4" />
            <defs
                    id="defs2" />
            <g
                    inkscape:label="Fond"
                    inkscape:groupmode="layer"
                    id="layer1"
                    style="display:inline"
                    sodipodi:insensitive="true">
                <path
                        id="path846"
                        style="fill:#f0f0f0;fill-opacity:1;stroke:none;stroke-width:3.81804;stroke-linecap:round;stroke-opacity:1"
                        d="M 64,0 A 63.999997,63.999997 0 0 0 0,64 H 128 A 63.999997,63.999997 0 0 0 64,0 Z"
                        transform="scale(0.26458333)" />
            </g>
            <g
                    inkscape:groupmode="layer"
                    id="layer2"
                    inkscape:label="ArcExterieur"
                    style="display:inline"
                    sodipodi:insensitive="true">
                <path
                        id="path12474"
                        style="display:inline;fill:none;fill-opacity:1;stroke:#ff6601;stroke-width:2.00002;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="M 113.19336,39.402344 C 103.87657,20.769617 84.832213,8.9998765 64,9 43.172918,9.0102317 24.138182,20.783703 14.828125,39.414062"
                        transform="scale(0.26458333)"
                        sodipodi:nodetypes="ccc" />
            </g>
            <g
                    inkscape:groupmode="layer"
                    id="layer3"
                    inkscape:label="ArcMoyen"
                    style="display:inline"
                    sodipodi:insensitive="true">
                <path
                        id="path12474-3"
                        style="display:inline;fill:none;fill-opacity:1;stroke:#ff3f00;stroke-width:1.99981;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="M 106.03906,42.980469 C 98.077323,27.05751 81.802525,16.999557 64,17 46.202337,17.008802 29.936333,27.069772 21.980469,42.990234"
                        transform="scale(0.26458333)"
                        sodipodi:nodetypes="ccc" />
            </g>
            <g
                    inkscape:groupmode="layer"
                    id="layer4"
                    inkscape:label="ArcInterieur"
                    style="display:inline"
                    sodipodi:insensitive="true">
                <path
                        id="path12474-1"
                        style="display:inline;fill:none;fill-opacity:1;stroke:#2c2c2c;stroke-width:1.99969;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        d="M 98.882812,46.558594 C 92.27645,33.346023 78.772138,24.999964 64,25 49.231752,25.00736 35.734475,33.355832 29.132812,46.566406"
                        transform="scale(0.26458333)"
                        sodipodi:nodetypes="ccc" />
            </g>
        </svg>

    </div>
</div>

<section class="presentation">

{#    <!--la classes container est dans le fichier:
      /assets/styles/_variables.scss-->#}
    <div class="container">
        <div class="presentation-box">
            <h2>Une surface d’entrepôt de 6000M², local hautement sécurisé sous télésurveillance, équipé de 8 quais niveleurs.</h2>
            <div class="presentation-grid">
    {#            <!--La valeur de cette carte est statiques -->#}
                <div class="presentation-card">
                    <div class="presentation-number">1992</div>
                    <p>Année de création</p>
                </div>
                {# permet de recuperer les valeurs de la table home_page_number_key
                voir :
                /src/Entity/HomePageNumberKey.php
                /scr/Repository/HomePageNumberKeyRepository.php
                /src/Controller/HomeController.php#}
                {% for numberKey in numberKeys %}
                        <div class="presentation-card">
                            <div class="presentation-number">{{ numberKey.productNumber }}</div>
                            <p>Produits Référencés</p>
                        </div>
                        <div class="presentation-card">
                            <div class="presentation-number">{{ numberKey.storeNumber }}</div>
                            <p>Magasins réalisés</p>
                        </div>
                        <div class="presentation-card">
                            <div class="presentation-number">{{ numberKey.packageNumber }}</div>
                            <p>Colis envoyés par an</p>
                        </div>
                {% endfor %}
            </div>
            <div class="presentation-solution">
                <p>Solutions d’externalisation de la gestion de vos stocks de produits de signalétique et d’approvisionnement de vos réseaux.</p>
                <p>Solutions d’externalisation de la gestion de vos flux de produits marchands et/ou non marchands pour vos réseaux.</p>
                <p>Solutions de stockage à la « carte » en fonction de vos pics d’activité sur des durées adaptées.</p>
                <p>Solutions de colisage, de conditionnement à façon pour répondre avec réactivité aux impératifs plannings de vos opérations promotionnelles.</p>
                <p>Solutions de production et de pose de matériel de signalétique intérieure et extérieure en France et à l’étranger.</p>
                <p>Solutions de transport adaptées à vos contraintes.</p>
                <p class="presentation-bold">Que vous soyez réseau de distribution, industriel, site marchand, S L P : la solution à vos besoins.</p>
                <h3>Nous mettons à votre disposition des solutions techniques et économiques d’externalisation spécialisées et performantes.</h3>
            </div>
        </div>
    </div>
</section>