header {
  display: flex;
  justify-content: center;
  background-color: var(--gris);

  .nav-bar {
    display: flex;
    justify-content: center;

    ul {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;


      li {
        color: var(--noir);
        list-style: none;
        padding: 0 20px;
        font-family: "Lexend Tera", sans-serif;
        font-size: 0.8rem;
      }
    }
  }
}