<!-- Slider main container -->

<!-- Slider main container -->

<div class="swiper">

    <div class="swiper-wrapper">
        <!-- Slides -->

        {% for key,img in imgs %}
            <div class="swiper-slide"><img src="/uploads/images/slider/" alt="{{key}}:{{img.description}}" width="100%"></div>
        {% endfor %}

    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>