<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img src="{{ asset('build/images/SLP-adress.PNG') }}" alt="" width="100%"></div>
        <div class="swiper-slide"><img src="{{ asset('build/images/bg-presentation.jpg') }}" alt="" width="100%"></div>
        <div class="swiper-slide"><img src="{{ asset('build/images/bg-homeTitleSection.jpg') }}" alt="" width="100%"></div>
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>