{% extends 'base.html.twig' %}

{% block title %}SLP Easy Gestion{% endblock %}
{% block body %}

    <section class="easyG flex column justify-c align-c pt-3 pb-3">
        <div class="container">
            <div class="easyG-title pb-2">
                <h2 class="center size-3 uppercase">SLP EASY-GESTION</h2>
            </div>
            <div class="easyG-description">
                <p class="center pb-4"><strong>S L P</strong> met à la disposition de ses clients un outil de gestion via le Web permettant
                    :</p>

                <div class="easyG-description-item start pb-2 flex justify-sb align-c">
                    <div class="easyG-description-item_text">
                        <h3>Pour qui ?</h3>
                        <p>Aux collaborateurs du siège, dûment habilités, d’avoir, en temps réel, une vision globale ou
                            détaillée :</p>
                        <ul>
                            <li>des utilisateurs</li>
                            <li>des produits</li>
                            <li>des commandes effectuées par leur réseau de vente</li>
                            <li>de l’état du stock</li>
                            <li>du suivi des livraisons fournisseurs</li>
                            <li>des rotations produits</li>
                            <li>des commandes de réassort</li>
                            <li>Etc…</li>
                        </ul>
                    </div>
                    <img class="easyG-description-item_img" src="{{ asset('build/images/who.svg') }}" alt="">
                </div>

                <div class="easyG-description-item end pb-2 flex justify-sb align-c">
                    <img class="easyG-description-item_img" src="{{ asset('build/images/what.svg') }}" alt="">
                    <div class="easyG-description-item_text">
                        <h3>Pour faire quoi ?</h3>
                        <p>Aux points de vente de commander quotidiennement et facilement le matériel dont ils ont besoin.</p>
                        <p>De connaître l’historique de leurs commandes.</p>
                    </div>
                </div>

                <div class="easyG-description-item pb-2 flex justify-sb align-c">
                    <div class="easyG-description-item_text">
                        <h3>Mais encore ?</h3>
                        <p>Cet outil est personnalisé au nom du client et totalement sécurisé.</p>
                        <p>Il permet, en fonction de ses besoins : une validation de commande à 3 niveaux</p>
                    </div>
                    <img class="easyG-description-item_img" src="{{ asset('build/images/and.svg') }}" alt="">
                </div>
            </div>
            <div class="easyG-slider">
                {% include 'slp_easy_gestion/_sliderEasyGestion.html.twig' %}
            </div>
            {% for etape in slide %}
            <div class="easyG-sliderInfo {{ etape.name }} {% if etape.id == 1 %} active {% endif %}">
                {% if etape.id == 1 %}
                    <h3>Passation de commande</h3>
                    <p>Pour passer une commande, il suffit de sélectionner un article et de l'ajouter au panier</p>
                    <p>Après validation la commande nous est transmise automatiquement pour traitement</p>
                    <p>SLP easy-gestion autorise une double ou triple validation</p>
                    <p>Le point de vente concerné a la possibilité de consulter l'historique de ses commandes</p>
                    <p>Les services centraux peuvent consulter l'ensemble des commandes du réseau</p>
                {% elseif etape.id == 2 %}
                    <h3>Accueil</h3>
                    <p>Cette page vous permet d'accéder, d'un simple clic à toutes les fonctionnalités offertes par SLP easy-gestion</p>
                {% elseif etape.id == 3 %}
                    <h3>Produits</h3>
                    <p>Visualisation claire et rapide de l'état de votre stock par les pastilles de couleurs associées à chaque référence, vous permettant d'identifier les produits pour lesquels le seuil d'alerte est atteint voire en rupture.</p>
                    <p>En cliquant sur le visuel d'une référence vous accédez à la fiche détaillée du produit.</p>
                {% elseif etape.id == 4 %}
                    <h3>Fiche produit</h3>
                    <p>Cette fiche reprend toutes les caractéristiques techniques:</p>
                    <ul>
                        <li>Référence</li>
                        <li>Prix</li>
                        <li>Conditionnement</li>
                        <li>Délai de fabrication</li>
                        <li>Emballage</li>
                        <li>Descriptif produit</li>
                    </ul>
                {% elseif etape.id == 5 %}
                    <h3>Stock</h3>
                    <p>Sur cet écran vous visualisez de façon synthétique pour chaque référence:</p>
                    <ul>
                        <li>Libellé</li>
                        <li>Le stock en temps réel</li>
                        <li>Le stock min/maxi</li>
                        <li>L'état des éventuelles commandes en cours</li>
                        <li>Le conditionnement</li>
                    </ul>
                {% endif %}
            </div>
            {% endfor %}  
        </div>
    </section>

{% endblock %}
