{% extends 'base.html.twig' %}

{% block title %}New HomePageNumberKey{% endblock %}

{% block body %}
    <h1>Create new HomePageNumberKey</h1>

    {{ include('home_page_number_key/_form.html.twig') }}

    <a href="{{ path('home_page_number_key_index') }}">back to list</a>
{% endblock %}
