.content-body {
  .ea-edit-form {
    .row {
      width: 100%!important;
      display: flex!important;
      flex-direction: column!important;
      justify-content: center!important;
      align-items: center!important;
      div{
        width: 100%!important;
      }
    }
  }
}