@use "../../media-queries" as m;

.approReseaux {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  &-content {
    padding: 1rem 2rem;
    @include m.mq(large) {
      flex-wrap: wrap;
      img {
        width: 100%;
        padding-bottom: 1rem;
      }
    }
    div {
      padding-bottom: 1rem;
    }
    a {
      color: var(--orange);
    }
    ul {
      padding-left: 2rem;
    }
  }
}
