@use "../../media-queries" as m;

.colisage {
  &-content {
    width: 100%;
    justify-content: space-between;
    &-left {
      padding: 1rem;
      p {
        padding-bottom: 1rem;
      }
      strong {
        color: var(--orange);
      }
      li {
        margin-left: 1rem;
      }
      @include m.mq(large) {
        padding: 2rem;
      }
    }
    &-right {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;

      @include m.mq(large) {
        width: 100%;
        padding: 1rem;
      }
    }
    @include m.mq(large) {
      flex-direction: column;
    }
  }
}
