@use "../../media-queries" as m;

// Component: metiers
// --------------------------------------------------
h2 {
  color: var(--orange);
}
.logistique,
.signaletique,
.colisage,
.ecommerce,
.approReseaux,
.transport {
  display: none;
  min-height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  .container {
    background: rgba(0, 0, 0, 0.37);
    box-shadow: 0 8px 32px 0 rgba(175, 178, 218, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 0.2rem;
  }
  strong {
    color: var(--orange);
  }
}
.active {
  display: flex;
}

// nav metiers
// --------------------------------------------------
.nav-metier {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: sticky;
  top: 49.09px;
  z-index: 999;
  background-color: var(--gris);

  @include m.mq(large) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    position: relative;
    top: 0;
    z-index: 1;

    .nav-metier_item {
      width: 80%;
      height: 5rem;
    }
  }

  &_item {
    padding: 1rem 3rem;
    background-color: var(--gris);
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0.83em;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 10;
    width: 18rem;
    height: 5rem;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: brightness(0.4);
      width: 100%;
      z-index: 1;
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.5rem;
      z-index: 2;
    }
    &:hover {
      background-color: var(--orange);
      img {
        filter: brightness(0.8);
      }
    }
  }
}
