<footer class="footer flex column justify-c align-c">
    <p>366, Bd Joseph Cugnot, 42160 Andrézieux-Bouthéon, France</p>
    <p><a href="#contact">contact@s-l-p.fr</a> | 04 77 47 52 73</p>
    <div class="footer-social flex justify-c align-c">
        <a href=""> <i class="fa-brands fa-facebook fa-2xl"></i>
        </a>
        <a href=""> <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
        <a href=""> <i class="fa-brands fa-twitter fa-2xl"></i>
        </a>
        <a href=""> <i class="fa-brands fa-viadeo fa-2xl"></i></a>
    </div>
</footer>