<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}hello!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('style') }}
    {% endblock %}

</head>
<body>
{% block header %}{% include 'header/header.html.twig' %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% include 'footer/footer.html.twig' %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('script') }}
{% endblock %}
</body>
</html>
