<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" lang="fr">
    <meta name="description" content="SLP, Signalétique, Logistique, Performance">
    <meta name="keywords" content="signalétique,logistique, colisage, e-commerce, transport">
    <meta name="author" content="Horler Raphael, Bourgin Yves, Neffeti Mahmoud">
    <link rel="shortcut icon" type="image/ico" href="/build/images/favicon.ico"/>
    <title>{% block title %}hello!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('style') }}
    {% endblock %}
</head>
<body {% block bodyClass %}{% endblock %}>
{% block header %}{% include 'header/header.html.twig' %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% include 'footer/footer.html.twig' %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('script') }}
{% endblock %}
</body>
</html>
