{% extends 'base.html.twig' %}

{% block title %}New HomePageClient{% endblock %}

{% block body %}
    <h1>Create new HomePageClient</h1>

    {{ include('home_page_client/_form.html.twig') }}

    <a href="{{ path('home_page_client_index') }}">back to list</a>
{% endblock %}
