{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="error flex justify-c align-c">
      <div class="container">
        <h1 class="error-title size-3 center pb-2">Page not found</h1>
        <p class="error-info center pb-2">
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('home') }}">return to the homepage</a>.
        </p>
      </div>
    </div>
{% endblock %}