.footer {
  width: 100%;
  background: var(--gris);
  p {
    padding: 1rem 0;
    a {
      color: black;
      text-decoration: none;
    }
  }
  &-social {
    gap: 2rem;
    min-height: 4rem;

    a {
      width: fit-content;
    }
  }
}